body{
	border: 1px solid black;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin: 0px auto;
	max-width: 2082px;
}

header{
	padding-left: 15px;
	background: #f0f0f0;
	display: inline-block;
}
header input{
	/*quitarle margin de arriba lo sube, aniadirle lo baja*/
	height: 51px;
	vertical-align: top;
	/*margin-top: -60px;
	margin-left: 20px;*/
}
body header img{
	margin-left: 200px;
}


#primeraSeccion{
	background: #2b2b2b;
	
}

#primeraSeccion article{
	display: inline-block;
}
#primeraSeccion ul li{
	color: white;
}

.letragrande{
	font-size: 2em;
}
.letramediana{
	font-size: 1em;
}
.nito{
	font-weight: bold;
} 
.colorblanco{
	color: white;
}
.colorgris{
	color: #545454;
}
.colorverde{
	color: #b2d247;
}
colorgrisclaro{
	color: #e4e4e4;
}
