body{
	font-size: 16px;
}

table{
	margin: 0 auto;
}

button{
	border-radius: 5px;
	height: 100%;
	font-size 2em;
	width: 100%;
}
button:hover{
	background: black;
	color: lightgray;
}
input{
	font-size: 2em;
	text-align: right; 
}